*{box-sizing: border-box;}
.header{
	position: relative;
	height:.9rem;
	line-height: .9rem;
	color:#fff;
	font-size: .38rem;
}
.header-left{
	position: absolute;
	top:50%;
	left:.3rem;
	-webkit-transform: translateY(-50%);
	display: block;
	width:.35rem;
	height:.34rem;
	background:url(../image/icon_back.png) no-repeat center;
	background-size: contain;
}
.header-right{
	position: absolute;
	top:50%;
	right:.15rem;
	-webkit-transform:translateY(-50%);
	display: block;
	font-size: .28rem;
	color:#fff;
}
.container{
	display: block;
	padding:0 .15rem;
	width:100;
	position: relative;
}
.container:before,.container:after,.row:before,.row:after{
	content:"";
	display: block;
	clear:both;
}
.row{
	margin-left: -.15rem;
	margin-right: -.15rem;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
	float:left;
	position: relative;
	padding-left: .15rem;
	padding-right: .15rem;
}
.col-push-1{margin-left: 8.333333333333333%}
.col-push-2{margin-left: 16.666666666666666%}
.col-push-3{margin-left: 25%}
.col-push-4{margin-left: 33.3333333333333333%}
.col-push-5{margin-left: 41.6666666666666666%}
.col-push-6{margin-left: 50%}
.col-push-7{margin-left: 58.3333333333333333%}
.col-push-8{margin-left: 66.6666666666666666%}
.col-push-9{margin-left: 75%%}
.col-push-10{margin-left: 83.3333333333333333%}
.col-push-11{margin-left: 91.6666666666666666%}
.col-push-12{margin-left: 100%}
.col-1{width:8.33333333333333333%;}
.col-2{width:16.66666666666666666%;}
.col-3{width:25%;}
.col-4{width:33.33333333333333333%;}
.col-5{width:41.66666666666666666%;}
.col-6{width:50%;}
.col-7{width:58.33333333333333333%;}
.col-8{width:66.66666666666666666%;}
.col-9{width:75%;}
.col-10{width:83.33333333333333333%;}
.col-11{width:91.66666666666666666%;}
.col-12{width:100%;}
.text-gray{
	color:#999;
}
.thumbnail{
	float: left;
	position: relative;
	width:auto;
	height:auto;
	display: block;
}
.thumbnail:after{
	content:"";
	display: table;
	clear: both;
}
.thumbnail-img{
	position: relative;
	display: block;
	float: left;
	overflow: hidden;
}
.thumbnail-img > .thumbnail-tag{
	position: absolute;
	display: block;
	top:0;
	right:0;
	z-index: 10;
	width:.64rem;
	height:.32rem;
}
.thumbnail-tag img{
	display: block;
	width:100%;
	height:100%;
}
.thumbnail-img img{
	display: block;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top:50%;
	left:50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.thumbnail-border-circle{
	border-radius: 50%;
	overflow: hidden;
}
.thumbnail-right{
	margin-left: .15rem;
	float: left;
	height:100%;
}
.thumbnail-title,.thumbnail-content{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.thumbnail-title{
	margin-top: .2rem;
	font-weight: bold;
}
.thumbnail-content{
	margin-top: .25rem;

}
.float-left{
	float:left!important;
}
.float-right{
	float:right!important;
}
.btn{
	position: relative;
	display: inline-block;
	padding:.15rem .25rem;
	outline:none;
	border:none;
	text-align: center;;
	font-size: .28rem;
	border-radius: .08rem;
}
.btn-native{
	background-color: rgb(190,109,63);
	color:#fff;
}
.btn-native:active{background-color: #81400D;}
.btn-default{
	border:1px solid #9d9d9d;
	color:#9d9d9d;
	background-color: #fff;
}
.btn-default:active{background-color: #f1f1f1;}
.btn-small{
	padding:0.06rem .15rem;
	font-size: .24rem;
}
.tab-nav{
	position: relative;
	display: flex;
	flex-direction: row;
	width:100%;
	height:1rem;
	line-height: 1rem;
}
.tab-nav:before{
	content:"";
	display: block;
	position: absolute;
	bottom: 0;
	left:0;
	height:2px;
	background-color: #0E93FB;
	transition: all .2s;
}
.tab-nav .tab-item{
	flex:1;
	text-align: center;
	color:#888;
	font-size: .32rem;
}
.tab-nav .tab-item.active{
	color:#0E93FB;
}
.pannel{
	display: none;
	width:100%;
	height: auto;
}
.pannel.active{
	display: block;
}